body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.animalsBG {
  background-image: url("assets/backgrounds/animals.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.candyBG {
  background-image: url("assets/backgrounds/candy.jpg");
}

.codeBG {
  background-image: url("assets/backgrounds/code.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.foodBG {
  background-image: url("assets/backgrounds/food3.jpg");
}

.oceanBG {
  background-image: url("assets/backgrounds/ocean.png");
}

header {
  background-color: black;
  width: 100%;
}

.navbar {
  width: 100%;
  display: flex;
  color: black;
  position: fixed;
  top: 0;
}

.columns-thirds {
  width: 33.33%;
  display: flex;
  flex-direction: row;
}

.left-third {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: red;
}

.center-third {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: yellow;
}

.right-third {
  justify-content: flex-end;
  background-color: green;
}

/* left-third */
.contact {
  display: flex;
  flex-direction: row;
}

.contact-icon-box {
  width: 45px;
  height: 45px;
  flex-direction: column;
  align-items: center;
}

.contact-icon-img {
  width: 35px;
  height: 35px;
  margin: 5px;
}

/* center-third */
.title {
  font-size: larger;
}

.directions {
  font-size: small;
}

.theme-label {
  font-size: small;
}

.themes {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.gem-icon-box {
  cursor: pointer;
  width: 45px;
  height: 45px;
  flex-direction: column;
  align-items: center;
}

.gem-icon {
  width: 35px;
  height: 35px;
  margin: 5px;
}

.scorebar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: orange;
}

main {
  /* background-color: black; */
}

footer {
  background-color: yellowgreen;
  width: 100%;
}

.jiggle:hover {
  -webkit-animation: jiggle 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  animation: jiggle 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  perspective: 1000px;
}

@-webkit-keyframes jiggle {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes jiggle {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.shake {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
